    margin: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    }

.navbar-brand img {

    size: 10px;
}

.fa-solid {

    background-color: rgb(65, 65, 230);
}


.card-body {

background-color: aqua;

}