body {
    background-color: black !important;
    border: 0px;
    padding: 0px;
    margin: 0px;
    
}

.favicon {
background-color: aqua;

}

.card   {

width: auto;
margin: auto;

}

.card-body  {
    background-color: #00ffff;
    height: 200px;

}


.card-body1 {
    height: 200px;
    background-color: black;

}

.card img {

    height: 200PX;
}


footer  {

    background-color: #00ffff;
    height: 80px
}


